body {
    font-family: "Roboto", sans-serif;
    font-size: 16px;
    background-color: black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    gap: 10px;
}

#grid-container {
    display: grid;
    border: 1px solid white;
    height: 500px;
    width: 500px;
}

.grid-item {
    border: 1px solid grey;
}

.colorChange{
    background-color: white;
}